<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <nav><a href="/" class="nav left" />Logo</a> <div class="nav right"><a href="/book/new-book">Add Books</a><a href="/book/all">View Books</a></div></nav>
  <div id="wrapper">
    <h3>About</h3>
    <h4>I'm bored lol. This is the kind of stuff Erin does when they get bored. <br />I have work in like 2 hours and I don't think even that will stop me now.<br />EDIT: I just finished, it's after work and I still have a few hours<br /> left but idk what else to add at this point</h4>
  </div>
</body>
</html>